@model Modelo.Cadastros.Fabricante

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Alterando os dados de um FABRICANTE";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-primary">
        <div class="panel-heading">
            Alteração dos dados de um FABRICANTE
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                @Html.HiddenFor(model => model.FabricanteId)
                @Html.Partial("~/Areas/Cadastros/Views/Fabricantes/_PartialEditContentPanel.cshtml", Model)
            </div>
            <div class="panel-footer panel-info">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Gravar alterações" class="btn btn-info" />
                    @Html.ActionLink("Retornar para a listagem de FABRICANTES", "Index", null, new { @class = "btn btn-warning" })
                </div>
                <br />
                <br />
            </div>
        </div>
    </div>
}

@Html.Partial("~/Areas/Cadastros/Views/Produtos/_PorFabricante.cshtml", Model.Produtos)

@section ScriptPage {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('li').removeClass("active");
            $('#liFabricantes').addClass("active");
        });
        $(document).on("change", '#EstadoID', function (e) {
            var estadoID = $(this).find(":selected").val();
            GetCidades(estadoID, '#CidadeID');
        });

        function GetCidades(estado, campoCidade) {
            var optionCampoCidade = campoCidade + ' option';
            if (estado.length > 0) {
                var url = $(campoCidade).data('url');
                $.getJSON(url, { estadoID: estado }, function (cidade) {
                    $(optionCampoCidade).remove();
                    $(campoCidade).append('<option value="">Selecione uma cidade</option');
                    for (i = 0; i < cidade.length; i++) {
                        $(campoCidade).append('<option value="' + cidade[i].CidadeID + '">' + cidade[i].Nome + '</option');
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    debugger;
                    alert('Erro de conexão', 'Erro obtendo cidades');
                });
            } else {
                $(optionCampoCidade).remove();
                $(campoCidade).append('<option value=""></option');
            }
        }
    </script>
}